.body {
  text-align: center;
  float: none;
}
.container {
  width: 860px;
  margin: 0 auto;
  background: white;
  padding: 50px;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  text-align: center;
  height: 1%;
  background: none;
}
.title {
  text-align: center;
}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

.form {
  text-align: center;
}

.post-container {
  width: 400px;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 5%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: 20px auto;
}

.text-container {
  display: inline-block;
}

.close {
  float: right;
  padding: 10px;
}

.blog-img {
  padding: 10px;
}

.blog-text {
  padding: 10px;
  font-family: "source_sans", "Lucida Grande", "Lucida Sans", sans-serif;
}

.submit-btn {
  margin: 10px 0 10px 0;
  display: inline;
}