<div class="container">
  <div class="title">
    <h1>MicroBlog</h1>
  </div>
  <div class="form">
    <form>
      <input class="form-control" type="text" placeholder="Type here!" ng-model="post.text" maxlength="160">
    </form>
    <button class="btn submit-btn" type="submit" ng-click="addPost()">Post</button> {{ post.text.length }}

    <form name="myForm">
      <input type="file" ngf-select ng-model="post.img" name="file"
             accept="image/*" ngf-max-size="20MB" required
             ngf-model-invalid="errorFile">
    </form>

    <img ng-show="post.img != null" ngf-thumbnail="post.img" class="thumb">
    <button ng-click="post.img = null" ng-show="post.img">Remove</button>
  </div>



  <div class="post-container" ng-repeat="text in posts track by $index">
    <div class="text-container">
      <p> {{ text.text }} </p>
    </div>
    <button class="close" ng-click="deletePost(text._id)">&times</button>
  </div>
</div>








