<style>
  body {
    background: #fafafa;
    background-image: url('./images/Game_Background.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
</style>

<div class="container" style="background: rgba(255,255,255,0.6);">
  <button><a href="#/">Previous Blog</a></button>
  <div class="title" style="color: black;">
    <h1>Game Blog</h1>
  </div>
  <div class="form-container">
    <div class="myForm">
      <form>
        <textarea class="form-control text-title" type="text" required placeholder="Enter post title here..." rows="1"
                  ng-model="post.title"></textarea>
        <textarea class="form-control text-area" type="text" placeholder="Type here!"
                  ng-model="post.text" cols="40" rows="3" required maxlength="160"></textarea>

        <button class="btn submit-btn" type="submit" ng-click="addPost('game_blog')">Post</button>
        <p class="text-length" style="color: black;"> {{ 160 - post.text.length }} </p>

        <input class="img-btn" style="color: black;" type="file" ngf-select ng-model="post.img" name="file" accept="image/*" ngf-max-size="20MB"
             ngf-model-invalid="errorFile">
        <img ng-show="myForm.file.$valid" ngf-thumbnail="post.img" class="thumb">
        <button ng-click="post.img = null" ng-show="post.img" class="remove-btn">Remove</button>
      </form>
    </div>
  </div>


  <div class="post-container" style="color: black;"ng-repeat="text in posts.slice().reverse() track by $index">

        <button class="close" ng-click="deletePost(text._id)">&times</button>
    <div class="title-container">
      <h2> {{ text.title }}</h2>
    </div>

    <div class="image-container">
      <img ng-if="text.img" class="blog-img" ng-src="{{ text.img }}">
    </div>

    <div class="text-container">
      <p> {{ text.text }} </p>
    </div>
  </div>
</div>
