<div class="container">
  <button class="btn"><a href="#/" ng-click="get()">Next Blog</a></button>
  <div class="title">
    <h1>Game Blog</h1>
  </div>
  <div class="form">
    <form>
      <input class="form-control" type="text" placeholder="Type here!" ng-model="post.text" maxlength="160">
    </form>
    <button class="btn submit-btn" type="submit" ng-click="addPost('game_blog')">Post</button> {{ 160 - post.text.length }}

    <form name="myForm">
      <input type="file" ngf-select ng-model="post.img" name="file"
             accept="image/*" ngf-max-size="20MB" required
             ngf-model-invalid="errorFile">
    </form>

    <img ng-show="post.img != null" ngf-thumbnail="post.img" class="thumb">
    <button ng-click="post.img = null" ng-show="post.img">Remove</button>
  </div>


  <div class="post-container" ng-repeat="text in posts track by $index">
    <button class="close" ng-click="deletePost(text._id)">&times</button>
    <div class="text-container">

      <img ng-show="text.img != null" class="blog-img" src="", width="100" height="100">
      <p class="blog-text"> {{ text.text }} </p>

    </div>

  </div>
</div>
