<link rel="stylesheet" href="styles/reset.css">
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="styles/style.css">

<div class="containers">
  <div class="info">
    <h1>Micro Blog</h1>
  </div>
</div>
<div class="forms">
  <div class="thumbnail"><img src="images/Login-Logo.png"/></div>
  <form class="toggle-form register-form">
    <input type="text" placeholder="username" ng-model="user.name"/>
    <input type="password" placeholder="password" ng-model="user.password"/>
    <button ng-click="checkUser(user.name, user.password)">create</button>
    <p ng-if="error" class="error-message"> Username Already Exists! Be creative! </p>
    <p class="message">Already registered? <a href="" ng-click="setError()">Sign In</a></p>
  </form>
  <form class="toggle-form login-form">
    <input type="text" placeholder="username" ng-model="user.name"/>
    <input type="password" placeholder="password" ng-model="user.password"/>
    <button ng-click="authenticate(user.name, user.password)">Login</button>
    <p ng-if="error" class="error-message"> User does not exist or Password does not match!</p>
    <p class="message">Not registered? <a href="" ng-click="setError()">Create an account</a></p>
    <p class="message">Continue as  <a href="#/micro_blog">Guest</a></p>
  </form>
</div>





