<div class="container">
  <div class="title">
    <h1>Second Blog</h1>
  </div>
  <div class="form">
    <form>
      <input type="text" placeholder="Type here!" ng-model="hots.text" maxlength="160">
    </form>
    <button type="submit" ng-click="addPost()">Post</button> {{ hots.text.length }}

  </div>



  <div class="post-container" ng-repeat="text in hosts track by $index">
    <div class="text-container">
      <p> {{ text.text }} </p>
    </div>
    <button class="close" ng-click="deletePost(text._id)">&times</button>
  </div>
</div>
